<h2>Editing Client</h2>

<div class="header_buttons button-group">
  <%= link_to 'Back', clients_path, class: "button icon arrowleft" %>
  <%= link_to 'Show', @client, class: "button" %>
</div>

<%= render 'form' %>

