<h2>Show Accesses</h2>

<table>
  <tr>
    <th>Client URI</th>
    <th></th>
    <th></th>
  </tr>

<% @accesses.each do |access| %>
  <tr>
    <td><%= access.client_uri %></td>
    <td><%= link_to 'Show stats', access_path(access), class: "button icon settings" %></td>
   
    <% if access.blocked? %>
      <td><%= link_to 'Unblock!', unblock_access_path(access), method: :put, class: "button danger" %></td>
    <% else %>
      <td><%= link_to 'Block!', block_access_path(access), method: :put, class: "button danger" %></td>
    <% end %>

  </tr>
<% end %>
</table>

<br/>
