<h2>Editing Scope</h2>

<div class="button-group header_buttons">
  <%= link_to 'Back', scopes_path, class: "button icon arrowleft" %>
  <%= link_to 'Show', @scope, class: "button" %>
</div>

<%= render 'form' %>
