body { font: 14px/1.333 sans-serif; color: #444; background: #eee; }

a { color: #980905; }
a:hover, a:focus, a:active { text-decoration: none; }

h1 { margin: 0 0 0.2em; font-size: 36px; }
h2 { margin: 0 0 0.75em; font-size: 21px; }
h3 { margin: 0 0 0.333em; font-size: 16px; font-weight: normal; }
p { margin: 0 0 1.333em; }
em { font-style: italic; }
table { border-collapse: separate; border-spacing: 0; margin: 0; vertical-align: middle; }
th { font-weight: bold; }
th, td { padding: 5px 8px 5px 5px; text-align: left; vertical-align: middle; }
pre, code { font-family: monospace, sans-serif; font-size: 1em; color:#080; }

.container { position:relative; overflow:hidden; width: 780px; padding: 40px 60px; border: 1px solid #ccc; margin: 40px auto 20px; background: #fff; -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.1); -moz-box-shadow: 0 0 15px rgba(0,0,0,0.1); box-shadow: 0 0 15px rgba(0,0,0,0.1); }

.container pre,
.container .prettyprint { padding: 0; border: 0; margin: 0 0 20px; font-size: 13px; background: #fff; }

.ribbon { position: absolute; top: -1px; right: -1px; opacity: 0.9; }
.ribbon:hover, .ribbon:focus, .ribbon:active { opacity: 1; }
.ribbon img { display: block; border: 0; }

.header { padding-right:80px; }
.header, .navigation { border-bottom: 1px solid #ccc; }
.navigation { padding: 10px; margin: 0px; background-color: #EEE }

.section { margin: 40px 0 20px; }

.example { padding: 20px; border: 1px solid #ccc; margin: 10px -20px 20px; }

.footer { margin: 20px 0 50px; font-size: 11px; color: #666; text-align: center; }
.footer a { color: #666; }

.field, .actions { margin: 0 0 1.333em; }
.field_show { margin: 0 0 0.666em; }

.admin_notice { color: green }
.details { color: #CCC; padding: 5px 0 }

.header_buttons { margin: -8px 0px 20px 0px }
.footer_buttons { margin: 1em 0 0 0 }

.flash_notice { margin: 0 0 1em 0; color: green; font-weight: bold }
.flash_alert { margin: 0 0 1em 0; color: #980905; font-weight: bold }

.field input { width: 300px; height: 25px; font: 14px/1.333 sans-serif; padding-left: 4px; }
.field input { border: 1px solid #CCC; }

#grant, #deny { padding: 5px 0px }
.green { color: green }
