<h2>Show User</h2>

<div class="field_show">
  <b>URI:</b>
  <%= @user.uri %>
</div>

<div class="field_show">
  <b>Email:</b>
  <%= @user.email %>
</div>

<div class="field_show">
  <b>Name:</b>
  <%= @user.name %>
</div>

<div class="button-group footer_buttons">
  <%= link_to 'Edit', edit_user_path(@user), class: "button" %>
</div>
